.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }


  #kevinj{
      font-size: x-large;
      font-size: 3rem;
      font-weight: bold;
  color:chartreuse;
    }
